body {
  font-family: "Dela Gothic One", cursive;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 24px 0;
  text-align: center;
  background: var(--primaty-grey-light, #F6F5F4);
}
.header .flex-header {
  display: flex;
  align-items: center;
}
.header .flex-header .header-img_wrapper {
  margin-right: 30px;
}
.header .flex-header .header-list {
  margin-left: 30px;
  display: flex;
}
.header .flex-header .header-list .header-item {
  position: relative;
}
.header .flex-header .header-list .header-item:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
.header .flex-header .header-list .header-item .submenu {
  position: absolute;
  display: flex;
  min-width: 215px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 14px;
  background: #FFF;
  box-shadow: 0px 11.4490642548px 11.4490642548px 0px rgba(52, 41, 39, 0.04), 0px 11.4490642548px 68.6943969727px 0px rgba(52, 41, 39, 0.04), 0px 68.6943969727px 68.6943969727px 0px rgba(52, 41, 39, 0.04), 0px 91.5925140381px 91.5925140381px 0px rgba(52, 41, 39, 0.04), 0px 183.1850280762px 183.1850280762px 0px rgba(52, 41, 39, 0.12), 0px 343.4719543457px 343.4719543457px 0px rgba(52, 41, 39, 0.08);
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  visibility: hidden;
  opacity: 0;
  transition: 0.25s linear;
}
.header .flex-header .header-list .header-item .submenu .submenu-item .submenu-link {
  color: var(--gray-3, #828282);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}
.header .flex-header .header-list .header-item .submenu .submenu-item .submenu-link:hover {
  color: var(--gray-1, #333);
}
.header .flex-header .header-list .header-item .header-link_submenu:hover {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
.header .flex-header .header-list .header-item .header-link {
  color: var(--primaty-grey-dark, #757575);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.64px;
  transition: 0, 25s;
}
.header .flex-header .header-list .header-item .header-link:hover {
  color: var(--primaty-black, #000);
}
.header .flex-header .header-list .header-item:not(:last-child) {
  margin-right: 30px;
}
.header .flex-header .header-signIn {
  margin-left: auto;
  border: none;
  background: none;
  padding: 0;
  color: var(--primaty-black, #000);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.64px;
  transition: 0.25s;
}
.header .flex-header .header-signIn:hover {
  color: var(--primaty-cyan-dark, #2B788B);
  border-bottom: 1px solid #2B788B;
}

.home {
  padding-top: 65px;
  background: var(--primaty-grey-light, #F6F5F4);
  overflow: hidden;
  height: 93vh;
}
.home .home-wrapper {
  display: flex;
  position: relative;
}
.home .home-wrapper .home-left .home-spn {
  display: inline-block;
  color: var(--primaty-cyan-dark, #2B788B);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.home .home-wrapper .home-left .home-title {
  color: var(--primaty-black, #000);
  font-family: Dela Gothic One;
  font-size: 56px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -2.24px;
  max-width: 531px;
  margin-bottom: 30px;
}
.home .home-wrapper .home-left .home-descr {
  color: var(--primaty-grey-dark, #757575);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.72px;
  max-width: 396.886px;
  margin-bottom: 32px;
}
.home .home-wrapper .home-left .home-btn {
  padding: 14px 22px;
  border: none;
  border-radius: 100px;
  background: var(--primaty-cyan-light, #C3DCE3);
  color: #2B788B;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%; /* 16px */
  letter-spacing: -0.64px;
  margin-bottom: 49px;
  transition: 0.25s;
}
.home .home-wrapper .home-left .home-btn:hover {
  color: #FFF;
  background: var(--primaty-cyan-dark, #2B788B);
}
.home .home-wrapper .home-left .home-projects_wrapper .home-projects_left {
  display: flex;
}
.home .home-wrapper .home-left .home-projects_wrapper .home-projects_left .projects-world {
  display: flex;
  flex-direction: column;
  margin-right: 49px;
}
.home .home-wrapper .home-left .home-projects_wrapper .home-projects_left .projects-world .world-number_wrapper {
  display: flex;
  align-items: baseline;
}
.home .home-wrapper .home-left .home-projects_wrapper .home-projects_left .projects-world .world-number_wrapper .world-descr {
  color: #000;
  font-family: Dela Gothic One;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.8px;
}
.home .home-wrapper .home-left .home-projects_wrapper .home-projects_left .projects-world .world-number_wrapper .world-descr .world-descr_plus {
  color: #2B788B;
  font-family: Dela Gothic One;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.8px;
}
.home .home-wrapper .home-left .home-projects_wrapper .home-projects_left .projects-world .word-spn {
  color: #585858;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.64px;
}
.home .home-wrapper .home-left .home-projects_wrapper .home-projects_left .projects-game {
  display: flex;
  flex-direction: column;
  margin-left: 49px;
}
.home .home-wrapper .home-left .home-projects_wrapper .home-projects_left .projects-game .game-number_wrapper {
  display: flex;
  align-items: baseline;
}
.home .home-wrapper .home-left .home-projects_wrapper .home-projects_left .projects-game .game-number_wrapper .game-descr {
  color: #000;
  font-family: Dela Gothic One;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.8px;
}
.home .home-wrapper .home-left .home-projects_wrapper .home-projects_left .projects-game .game-number_wrapper .game-descr_plus {
  color: #2B788B;
  font-family: Dela Gothic One;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.8px;
}
.home .home-wrapper .home-left .home-projects_wrapper .home-projects_left .projects-game .game-spn {
  color: #585858;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.64px;
}
.home .home-projects_right {
  position: absolute;
  top: -190px;
  right: 20px;
  width: 608.734px;
  height: 507.279px;
}
.home .home-projects_right .home-img_console, .home .home-projects_right .home-img_man, .home .home-projects_right .home-img_flower {
  position: relative;
}
.home .home-projects_right .home-img_console {
  top: 400px;
  right: 73px;
}
.home .home-projects_right .home-img_flower {
  top: -486px;
  left: 325px;
}

.play {
  margin: 77.5px 0px;
}
.play .play-wrapper {
  display: flex;
  align-items: center;
}
.play .play-wrapper .play-text_wrapper {
  margin-left: 120px;
}
.play .play-wrapper .play-text_wrapper .play-title {
  color: var(--primaty-black, #000);
  font-family: Dela Gothic One;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.92px;
  margin-bottom: 30px;
  max-width: 474.464px;
}
.play .play-wrapper .play-text_wrapper .play-descr {
  color: var(--primaty-grey-dark, #757575);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.72px;
  margin-bottom: 69px;
  max-width: 396.886px;
}
.play .play-wrapper .play-text_wrapper .play-button_wrapper {
  display: flex;
}
.play .play-wrapper .play-text_wrapper .play-button_wrapper .play-sprint_wrapper {
  position: relative;
  background: var(--primaty-pink-light, #F2D4DC);
  border-radius: 14px;
  display: flex;
  width: 129px;
  height: 112px;
  padding: 14px 22px;
  justify-content: center;
  align-items: flex-end;
  margin-right: 21px;
}
.play .play-wrapper .play-text_wrapper .play-button_wrapper .play-sprint_wrapper:hover .sneaker-img {
  top: -50px;
}
.play .play-wrapper .play-text_wrapper .play-button_wrapper .play-sprint_wrapper .sneaker-img {
  position: absolute;
  top: -39px;
  transition: 0.35s;
}
.play .play-wrapper .play-text_wrapper .play-button_wrapper .play-sprint_wrapper .sprint-link {
  color: var(--primaty-pink-dark, #945069);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.64px;
}
.play .play-wrapper .play-text_wrapper .play-button_wrapper .play-audioCall_wrapper {
  position: relative;
  background: var(--primaty-cyan-light, #C3DCE3);
  border-radius: 14px;
  display: flex;
  width: 172px;
  height: 112px;
  padding: 14px 22px;
  justify-content: center;
  align-items: flex-end;
}
.play .play-wrapper .play-text_wrapper .play-button_wrapper .play-audioCall_wrapper:hover .speaker-img {
  top: -50px;
}
.play .play-wrapper .play-text_wrapper .play-button_wrapper .play-audioCall_wrapper .speaker-img {
  position: absolute;
  top: -39px;
  transition: 0.35s;
}
.play .play-wrapper .play-text_wrapper .play-button_wrapper .play-audioCall_wrapper .audioCall-link {
  color: var(--primaty-cyan-dark, #2B788B);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.64px;
}

.textBook {
  margin-top: 26px;
  background: var(--primaty-grey-light, #F6F5F4);
}
.textBook .textBook-wrapper {
  display: flex;
  align-items: center;
}
.textBook .textBook-wrapper .textBook-text_wrapper {
  margin-right: 25.54px;
}
.textBook .textBook-wrapper .textBook-text_wrapper .textBook-title {
  max-width: 474.464px;
  color: var(--primaty-black, #000);
  font-family: Dela Gothic One;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.92px;
  margin-bottom: 30px;
}
.textBook .textBook-wrapper .textBook-text_wrapper .textBook-descr {
  max-width: 396.886px;
  color: var(--primaty-grey-dark, #757575);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.72px;
  margin-bottom: 34px;
}
.textBook .textBook-wrapper .textBook-text_wrapper .textBook-btn {
  border: none;
  padding: 14px 22px;
  border-radius: 100px;
  background: var(--primaty-cyan-light, #C3DCE3);
  color: #2B788B;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.64px;
  transition: 0.25s;
}
.textBook .textBook-wrapper .textBook-text_wrapper .textBook-btn:hover {
  color: #FFF;
  background: var(--primaty-cyan-dark, #2B788B);
}

.statistic {
  margin: 95px 0;
}
.statistic .statistic-wrapper {
  display: flex;
}
.statistic .statistic-wrapper .statistic-text_wrapper {
  margin-left: 20px;
}
.statistic .statistic-wrapper .statistic-text_wrapper .statistic-title {
  color: var(--primaty-black, #000);
  font-family: Dela Gothic One;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.92px;
  margin-bottom: 30px;
  max-width: 474.464px;
}
.statistic .statistic-wrapper .statistic-text_wrapper .statistic-descr {
  max-width: 396.886px;
  color: var(--primaty-grey-dark, #757575);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.72px;
  margin-bottom: 34px;
}
.statistic .statistic-wrapper .statistic-text_wrapper .statistic-btn {
  padding: 14px 22px;
  border: none;
  border-radius: 100px;
  background: var(--primaty-cyan-light, #C3DCE3);
  color: var(--primaty-cyan-dark, #2B788B);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.64px;
  transition: 0.25s;
}
.statistic .statistic-wrapper .statistic-text_wrapper .statistic-btn:hover {
  color: #FFF;
  background: var(--primaty-cyan-dark, #2B788B);
}

.footer {
  background: var(--primaty-grey-light, #F6F5F4);
  padding: 40px 0;
}
.footer .footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
}
.footer .footer-top .footer-list {
  display: flex;
}
.footer .footer-top .footer-list .footer-item .footer-link {
  color: var(--primaty-grey-dark, #757575);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
}
.footer .footer-top .footer-list .footer-item:not(:last-child) {
  margin-right: 30px;
}
.footer .footer-top .footer-name_wrapper .footer-name {
  color: var(--primaty-grey-dark, #757575);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
}
.footer .footer-top .footer-name_wrapper .footer-name:not(:last-child) {
  margin-right: 30px;
}
.footer .footer-buttom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.footer .footer-buttom .footer-icon_wrapper {
  display: flex;
}
.footer .footer-buttom .footer-icon_wrapper .footer-icon {
  margin-right: 30px;
}
.footer .footer-buttom .footer-globalTalk_descr {
  color: var(--primaty-grey-dark, #757575);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

/*# sourceMappingURL=style.css.map */
